<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <br>
      <h1 class="title has-text-centered">Lorem Ipsum Typing</h1>

      <p class="has-text-centered"> <span [class]="compare(letter, enteredText[i])" *ngFor="let letter of randomText.split(''); let i = index;">{{ letter }}</span></p>

      <div class="field">
        <input class="input" (input)="onInput($event.target.value)" />
      </div>
      <div class="has-text-centered">
        <h1 class="title" *ngIf="randomText === enteredText">Correct!</h1>
      </div>
    </div>
  </div>
</div>